
.nav-bar{
  height:70px;
  background-color: #333;
  background-color:black;
  padding:14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  
}
.home-link{
  color: #61dafb;
  list-style-type:none;
  text-decoration: none;
  font-size: 24px;

}

.footer{
  background-color: #282c34;
  padding: 14px;
  color:#61dafb;
  text-align: center;
  font-size: 18px;

  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.footer-content a {
  margin: 0 5px;
  color: #007bff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
.app-logo {
  height: 70px;
  pointer-events: none;
}


@media (max-width: 768px) {
  .nav-bar{
    height:55px;
    background-color: #333;
    background-color: black;
    padding: 14px;
    box-sizing: border-box;
    

  }
  .app-logo{
    height:55px;
  }
  .home-link{
    font-size:18px;
  }


}





